#phone__content{
    display: grid;
    grid-template-columns: auto auto auto;
}

.phone__item{
    width: 240px;
    height: 550px;
    border: 1px solid gray;
    padding: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.divImg{
    width: 180px;
    height: 180px;
}
.detailPhone{
    margin-top: 20px;
}